html, body{
    height: 100%;
}

* {
    padding: 5px;
}

div {
    /*
    border: 1px solid black; 
    /**/
}


#wrapper{
    position: relative;
    width: 100%;
    height: 600px;
}

#lines-canvas, #text {
    position: absolute;
    width: 100%;
    height: 100%;
}

#text {
    overflow-y: scroll;
    white-space: pre-wrap;
    z-index: 10;
}