html, body{
    height: 100%;
}

* {
    padding: 5px;
}

div {
    border: 1px solid black;
}

#passage-text{
    max-height: 800px;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.left-side{
    height: 50%;
}

#passage-wrapper {
    position: relative;
    height: 100%;
}
